
.div_container {
  display: auto;
  align-items: center;
  font: 16px;
  padding: 0px 16px;
  background-color: #fff;
}


.navbar_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: start; 
}


.logo {
  flex: 1;
}

.logo_img {
  width: 150px; 
  height: 50px;
}


.items {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}


.email, .contact, .singin {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}


.icon {
  margin-right: 0.5rem;
  font-size: 2rem;
  color: #f7931e; 
}


.Email {
  font-weight: bold;
  color: #000;
}

.Phone {
  font-weight: bold;
  color: #000;
  text-align: center;
}

.text_center {
  font-weight: bold;
  color: #000;
  text-align: center;
}

.text_sm {
  font-size: 0.9rem;
  color: #666;
}

.Supplier {
  height: 3rem;
  width: 13rem;
  color: white;
  text-transform: uppercase;
  font-family: Rajdhani;
  font-size: 16px;
  font-weight: 200px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background:black;
}


.Supplier:hover {
  background-color: #b18d8d;
}


@media (max-width: 768px) {
  .navbar_flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .items {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
  }

  .Supplier {
    align-self: center;
    margin-top: 1rem;
  }
}
